<template>
  <div class="about">
    <v-carousel class="about-carousel">
      <div class="about-text">
        <p>Incididunt cillum do sint sint enim ullamco id deserunt mollit qui reprehenderit do. Velit ex tempor cillum
          ad sint occaecat. Do nulla velit labore occaecat do deserunt Lorem magna officia incididunt consectetur amet.
          Sunt consectetur veniam minim ex commodo sint non. Occaecat aute officia excepteur non laboris id qui ad.</p>
      </div>
      <v-carousel-item
          class="about-item"
          v-for="(item, i) in items"
          :key="i"
          :src="item.src"
      ></v-carousel-item>
    </v-carousel>
  </div>
</template>

<script>

export default {
  data: () => ({
    items: [
      {
        src: '/img/ronald.png',
        text: 'Incididunt cillum do sint sint enim ullamco id deserunt mollit qui reprehenderit do. Velit ex tempor cillum ad sint occaecat. Do nulla velit labore occaecat do deserunt Lorem magna officia incididunt consectetur amet. Sunt consectetur veniam minim ex commodo sint non. Occaecat aute officia excepteur non laboris id qui ad.',
      },
      {
        src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg',
      },
      {
        src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg',
      },
      {
        src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
      },
    ],
  }),
}
</script>

<style scoped lang="scss">
.about-carousel {
  height: 600px !important;
}

.about {
  width: 100%;
  height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.about-text {
  position: absolute;
  display: block;
  content: "";
  width: 393px;
  height: 180px;
  top: 100px;
  right: 55px;
}

.about-item {
  background: transparent !important;
  margin: 0 auto;
}

</style>
