<template>
  <div class="contributor">
    <h1 style="color: #FFFFFF; font-size: 48px; margin-bottom: 25px">Become a contributor?</h1>
    <p style="color: #FFFFFF; font-size: 18px; margin-bottom: 100px">Join us and get tips & tricks to become a great<br>
      Designer and
      Developer</p>
    <div class="contributor-input">
      <v-text-fields class="contributor-email">Enter your email...</v-text-fields>
      <v-btn style="background: #FF6E30; text-transform: none; color: #FFFFFF; border-radius: 8px">Join us</v-btn>
    </div>
  </div>
</template>

<script>

export default {
  data: () => ({}),
}
</script>

<style scoped lang="scss">
.contributor {
  min-width: 553px;
  height: 311px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 240px;
}

.contributor-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto;
  width: 549px;
  min-height: 54px;
}

.contributor-email {
  color: rgba(255, 255, 255, .38);
  font-size: 14px;
}

</style>
