<template>
  <div class="footer">
    <div class="footer-logo">
      <v-img class="footer-logo" max-height="38" max-width="140" src="/img/logo.svg"></v-img>
      <p style="margin-bottom: 21px; font-size: 16px">Copyright 2021. Antools</p>
      <p style="font-size: 14px; font-weight: lighter; color: rgba(255, 255, 255, .55)">Antool is a web collection
        of<br> information on paid or free Design<br> and Development tools</p>
    </div>
    <div class="footer-contacts">
      <h3 class="footer-contacts__title">Contact Us</h3>
      <p>+621987463</p>
      <p>M Building, No.10 A</p>
      <a style="color: rgba(255, 255, 255, .55)">antools@awesome.com</a>
    </div>
    <div class="footer-categories">
      <h3 class="footer-categories__title">Categories</h3>
      <a class="footer-categories-link" href="/design">Design</a>
      <a class="footer-categories-link" href="/development">Development</a>
    </div>
    <div class="footer-info">
      <h3 class="footer-info__title">Company Info</h3>
      <a class="footer-info-link" href="/about">About Us</a>
      <a class="footer-info-link" href="/partners">Our Partners</a>
      <a class="footer-info-link" href="/blog">Blog</a>
    </div>
  </div>
</template>
<script>


export default {
  data: () => ({}),
}
</script>

<style scoped>
a:hover {
  color: rgba(255, 255, 255, .6);
}

p {
  color: #FFFFFF;
}

.footer {
  padding: 70px 233px 98px 108px;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, .1);
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  margin-bottom: 25px;
  text-align: left;
}

.footer-categories,
.footer-contacts,
.footer-info {
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: lighter;
  color: rgba(255, 255, 255, .55);
}

.footer-contacts__title,
.footer-categories__title,
.footer-info__title {
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-categories-link,
.footer-info-link {
  text-decoration: none;
  color: #FFFFFF;
  margin-bottom: 10px;
}

</style>
