<template>
  <div class="header">
    <v-img class="header-logo" max-height="38" max-width="140" src="/img/logo.svg"></v-img>
    <a class="header-link" href="/">Home</a>
    <a class="header-link" href="/categories">Categories</a>
    <a class="header-link" href="/collections">My Collections</a>
    <a class="header-link" href="/blog">Blog</a>
    <div class="header-login">
      <a class="header-link" href="/login">Login</a>
      <v-btn class="header-sign" style="color: #FFFFFF; background: #FF6E30; border-radius: 8px">Sign Up</v-btn>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({}),
}
</script>

<style lang="scss" scoped>
a:hover {
  color: rgba(255, 255, 255, .6);
}

.header {
  margin: 0 auto;
  max-width: 1224px;
  display: flex;
  align-items: center;
  margin-bottom: 104px;
}

.header-logo {
  margin-right: 257px;
  &:hover {
    opacity: .6;
  }
}

.header-link {
  text-decoration: none;
  margin-right: 43px;
  color: #FFFFFF;
  opacity: .55;
}

.header-login {
  margin-left: auto;
}

.header-sign:hover {
  opacity: .6;
}
</style>
