<template>
  <div class="newcomer">
    <div class="newcomer-title">
      <h1 style="color: rgba(255, 255, 255, .8); font-size: 48px; margin-bottom: 30px">Newcomer Tools</h1>
      <p style="color: #FFFFFF; margin-bottom: 60px">Wow! see the latest update of the most<br> recommended tools from
        reliable designers<br> and developers</p>
      <v-btn style="color: #FFFFFF; background: #FF6E30; text-transform: none">Explore more</v-btn>
    </div>
    <ul class="newcomer-list" style="list-style: none">
      <li class="newcomer-list__item">
        <v-img style="margin-bottom: 30px" class="teaser-society" max-height="66" max-width="195" src="/img/zeplin.png"></v-img>
        <p style="margin-bottom: 30px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <v-btn style="margin-right: 130px" icon>
          <v-icon>mdi-heart</v-icon>
        </v-btn>
        <v-btn class="btn-visit">Visit</v-btn>
      </li>
      <li class="newcomer-list__item">
        <v-img style="margin-bottom: 30px" class="teaser-society" max-height="66" max-width="195" src="/img/phpStorm.png"></v-img>
        <p style="margin-bottom: 30px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <v-btn style="margin-right: 130px" icon>
          <v-icon>mdi-heart</v-icon>
        </v-btn>
        <v-btn class="btn-visit">Visit</v-btn>
      </li>
      <li class="newcomer-list__item">
        <v-img style="margin-bottom: 30px" class="teaser-society" max-height="66" max-width="195" src="/img/toolbox.png"></v-img>
        <p style="margin-bottom: 30px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <v-btn style="margin-right: 130px" icon>
          <v-icon>mdi-heart</v-icon>
        </v-btn>
        <v-btn class="btn-visit">Visit</v-btn>
      </li>
      <li class="newcomer-list__item">
        <v-img style="margin-bottom: 30px" class="teaser-society" max-height="66" max-width="195" src="/img/procreate.png"></v-img>
        <p style="margin-bottom: 30px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <v-btn style="margin-right: 130px" icon>
          <v-icon>mdi-heart</v-icon>
        </v-btn>
        <v-btn class="btn-visit">Visit</v-btn>
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  data: () => ({}),
}
</script>

<style scoped lang="scss">
.newcomer {
  display: flex;
  margin-bottom: 200px;
}

.newcomer-title {
  width: 45%;
  text-align: left;
}

.newcomer-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  &__item {
    border-radius: 15px ;
    width: 288px;
    height: 284px;
    padding: 22px;
    margin-bottom: 70px;
    margin-right: 24px;
  }
  &__item:hover {
    background: rgba(40, 48, 54, .6);
  }
  .btn-visit {
    color: #FFFFFF;
    background: transparent;
    text-transform: none;
    box-shadow: none;
  }
  &__item:hover .btn-visit {
    background: rgba(255, 110, 48, .7);
  }

}

</style>
