<template>
  <div class="popular" style="color: rgba(255, 255, 255, .9)">
    <h1 style="margin-bottom: 25px">Most Popular Tools</h1>
    <p style="margin-bottom: 90px">Tools for the best Designers and Developers<br>most popularly used in the world</p>
    <v-row class="popular-list">
      <v-col
          class="popular-col"
          v-for="card in cards"
          :key="card.title"
      >
        <!--          :cols="card.flex"-->
        <v-card class="popular-card">
          <v-img
              :src="card.img"
              class="white--text align-end"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              width="392px"
              height="200px"
          >
            <v-card-title v-text="card.title"></v-card-title>
            {{ card.text }}
          </v-img>

          <!--            <v-card-actions>-->
          <!--              <v-spacer></v-spacer>-->

          <v-btn icon>
            <v-icon>mdi-heart</v-icon>
          </v-btn>

          <v-btn icon>
            <v-icon>mdi-bookmark</v-icon>
          </v-btn>

          <v-btn icon>
            <v-icon>mdi-share-variant</v-icon>
          </v-btn>
          <!--            </v-card-actions>-->
        </v-card>
      </v-col>
    </v-row>
    <v-btn
        style="background: #1E252B;
          text-transform: none;
          color: #FF6E30;
          margin-bottom: 200px;
          border: 1px solid rgba(255, 255, 255, .1)"
        class="popular-more">Load more
    </v-btn>
  </div>
</template>

<script>

export default {
  data: () => ({
    cards: [
      {
        title: 'Figma',
        img: "./img/grommet-icons_figma.svg",
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
      },
      {
        title: 'Sketch',
        img: "./img/logos_sketch.svg",
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
      },
      {
        title: 'Visual Studio Code',
        img: "./img/logos_visual-studio-code.svg",
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
      },
      {title: 'Notion', img: "./img/notion.svg", text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'},
      {
        title: 'Slack',
        img: "./img/grommet-icons_slack.svg",
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
      },
      {
        title: 'Invision',
        img: "./img/logos_invision-icon.svg",
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
      },
    ],
  }),
}
</script>

<style scoped lang="scss">
.popular {
  margin: 0 auto;
  text-align: center;
}

.popular-list {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.popular-card {
  width: 392px;
  height: 294px;

  &:hover {
    background: gray;
  }
}

.popular-col {
  flex-grow: 0;
}
</style>
