<template>
  <div class="teaser">
    <h1 style="color: lightgray; margin-bottom: 31px">Awesome tools for<br>Designer & Developer<strong
        style="color: #FF6E30">.</strong></h1>
    <p style="color: #FFFFFF; margin-bottom: 60px">Antool is a web collection of information on paid or<br> free Design and Development tools
    </p>

    <div class="teaser-search">
      <v-img class="teaser-search__icon" max-height="24" max-width="24" src="/img/search.svg"></v-img>
      <v-text-fields class="teaser-search__input" style="color: rgba(255, 255, 255, .38)">find more than 430+ tools...</v-text-fields>
      <v-btn style="background: #FF6E30; text-transform: none; color: #FFFFFF; border-radius: 8px">Search</v-btn>
    </div>
    <div class="teaser-society">
      <a href="/facebook"><v-img class="teaser-society__icon" max-height="34" max-width="34" src="/img/facebook.png"></v-img></a>
      <a href="/instagramm"><v-img class="teaser-society__icon" max-height="34" max-width="34" src="/img/instagram.png"></v-img></a>
      <a href="/twitter"><v-img class="teaser-society__icon" max-height="34" max-width="34" src="/img/twitter.png"></v-img></a>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({}),
}
</script>

<style scoped lang="scss">

.teaser-img {
  display: block;
  background: red;
}
.teaser {
  position: relative;
  margin-bottom: 200px;
  &:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
  }
}

.teaser-search {
  padding: 0 11px 0 11px;
  background: #283036;
  border-radius: 20px;
  max-width: 498px;
  min-height: 64px;
  display: flex;
  align-items: center;
  margin-bottom: 110px;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, .1);
  box-sizing: border-box;
  &__icon {
    margin: 10px;
  }
}

.teaser-society {
  display: flex;
  &__icon {
    margin-right: 8px !important;
  }

  &__icon:hover {
    opacity: .6;
  }
}

</style>
