<template>
  <div style="text-align: center; background: rgba(44, 53, 61, .2)" class="trusted">
    <h1 style="color: rgba(255, 255, 255, .8); font-size: 24px; margin-bottom: 56px">Trusted more than 150+ brand</h1>
    <div class="trusted-list">
      <v-img max-height="49" max-width="227" src="/img/logos_microsoft.svg"></v-img>
      <v-img max-height="60" max-width="180" src="/img/logos_google.svg"></v-img>
      <v-img max-height="49" max-width="193" src="/img/logos_slack.svg"></v-img>
      <v-img max-height="49" max-width="220" src="/img/logos_wordpress.svg"></v-img>
    </div>
  </div>
</template>

<script>

export default {
  data: () => ({}),
}
</script>

<style scoped>
.trusted {
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 25px;
  text-align: center;
  margin: 0 auto;
  padding: 55px 82px;
  max-width: 1224px;
  margin-bottom: 200px;
}

.trusted-list {
  display: flex;
  justify-content: space-between;
}

</style>
