<template>
  <v-app
      style="background: #1E252B;
      backgroundImage: url(/img/backgroundTeaser.png);
      background-repeat: no-repeat"
  >
    <div class="container">
      <HeaderComponent/>
      <TeaserComponent/>
      <PopularComponent/>
      <TrustedComponent/>
      <NewcomerToolsComponent/>
      <AboutComponent/>
      <ContributorComponent/>
      <FooterComponent/>
    </div>
  </v-app>
</template>

<script>
import HeaderComponent from './components/HeaderComponent';
import TeaserComponent from './components/TeaserComponent';
import PopularComponent from './components/PopularComponent';
import TrustedComponent from './components/TrustedComponent';
import NewcomerToolsComponent from './components/NewcomerToolsComponent';
import AboutComponent from './components/AboutComponent';
import ContributorComponent from './components/ContributorComponent';
import FooterComponent from './components/FooterComponent';

export default {
  name: 'App',
  components: {
    HeaderComponent,
    TeaserComponent,
    PopularComponent,
    TrustedComponent,
    NewcomerToolsComponent,
    AboutComponent,
    ContributorComponent,
    FooterComponent,
  },
  data: () => ({}),
};
</script>

<style>
.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 26px 108px 0 108px;
  box-sizing: border-box;
}

</style>
